html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: #00274C;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex super family', Montserrat, 'Nunito Sans' 'Merriweather';
  }
  
  .overview p{
    color: white;
    font-size: 3vw;
    padding: 0 100px;
    text-align: center;
  }
  
  h1{
    color: 	#FFCB05;
    font-size: 8vw;
    line-height: 1;
    padding: 50px 0;
    text-align: center;
  }
  
  h2{
    font-size: 5vw;
    color: #00274C;
    background-color: #FFCB05;
    line-height: 1.5;
  }

  h3{
    font-size: 4vw;
    color: #FFCB05;
    background-color: #00274C;
    line-height: 1.5;
  }

  
  nav li{
    display:inline;
    padding-right:20px;
  
  }
  
  nav a{
    color: black;
    font-weight: bold;
    text-decoration: none;
  }
  
  
  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }
  
  
  nav{
    background-color: #ddd;
    padding: 25px 0; 
    text-align: left;
    position: sticky;
    top: 0;
    overflow: hidden;
  }
  
  
  .text-block{
    background-color: rgba(255, 255, 255, .8);
    border: 10px solid black;
    padding: 30px;
  }

  p{
    line-height: 130%;
    color:#ddd;
    font-size: 2.5vw;
  }

footer{
  background-color:  #FFCB05;
  padding-top: 30px;
  text-align: center;
}
footer p{
  font-size: 2.5vw;
  color: #00274C;
}

img{
    border: #FFCB05 5px solid;
    margin: 20px;
    border-radius: 10px 10px;
    align-items: flex-start;
    height: auto;
    width: 100%;
}
li{
    display: inline-block;
    margin-left: 50px;
    color: #ddd;
    font-size: 2.5vw;
}


figcaption{
    color: #FFCB05;
    font-size: 2.5vw;
    text-align: center;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }

  }

  nav a:hover, nav a:focus{
    text-decoration: underline;
    background-color: #ffffff;
  }

nav a:active{
  border-bottom: 3px solid red;
  background-color: #FFCB05;
}

  /* Step 2a: Write selector/rule property to position the default position for the skip class element*/
  .skip a{
    position: absolute;
    top: -40px;
  }
  
  
  /* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
  .skip a:focus{
    top: 20px;
  }
  
  
  /* Step 3: Write selector/rule property to style all elements when in focus*/
  *:focus{
    outline: 2px solid red;
  }
  .container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    gap: 20px 20px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    justify-content: left;
    align-items: stretch;
  }
  .container img{
    width: 75%;
    justify-content: left;
    align-items: flex-start;
  }
  .container p{
    color:#ddd;
    font-size: 2.5vw;
    text-align: left;
  }


  /* Place text in the middle of the image */
.appt {
  text-align: center;
  position: relative;
  color:#ddd;
  border-radius: 5px 5px;
  font-size: 2.5vw;
  text-decoration: underline;

}
.appt :hover{
  background-color: #FFCB05;
  color: #00274C;
  outline:#ddd 2px solid;
  border-radius: 5px 5px;
  text-decoration: underline;
 }

.container > :first-child{
  width: 100% ;
  min-height: 300px;
  background-image: url(../caps_hero.jpg);
  background-size: cover;
  background-position: center;
  grid-column: 1 / -1;

}
.teletherapy-link, .go-blue-guide, .first-gen-link, .cew-funding a, .career-ed-appt a, .peer-counseling figcaption, .first-gen-events-pic figcaption{
    color:#ddd;
    font-size: 2.5vw;
    text-align: left;
    text-decoration: underline;
}

.teletherapy-link :hover, .go-blue-guide :hover{
  background-color: #FFCB05;
  color: #00274C;
  outline:#ddd 2px solid;
  border-radius: 5px 5px;

}
.cew-funding a:hover{
  background-color: #FFCB05;
  color: #00274C;
  outline:#ddd 2px solid;
  border-radius: 5px 5px;
}

.career-ed-appt a:hover {
  background-color: #FFCB05;
  color: #00274C;
  outline:#ddd 2px solid;
  border-radius: 5px 5px;
}
.first-gen-link a:hover{
  background-color: #FFCB05;
  color: #00274C;
  outline:#ddd 2px solid;
  border-radius: 5px 5px;
}

.first-gen-eventlink a{
  color:#ddd;
  font-size: 2.5vw;
  text-align: left;
}

.first-gen-events-pic a:hover{
  background-color: #FFCB05;
  color: #00274C;
  outline:#ddd 2px solid;
  border-radius: 5px 5px;
}

